.container
    width: 100%
    background: white
    height: 64px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center

.user

.logged
    font-size: 28px
    background-color: #adcdff
    line-height: 32px
    padding: 8px
    padding-inline: 32px
    border-radius: 16px
    border: 2px solid black
    color: black
    &:hover
        cursor: pointer

.not_logged
    font-size: 28px
    background-color: #adcdff
    line-height: 32px
    padding: 8px
    padding-inline: 32px
    border-radius: 16px
    border: 2px solid black
    color: black
    &:hover
        cursor: pointer
