.container
    background: #f8f4f4
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.recommended_text
    width: 1000px
    margin-top: 64px
    font-size: 28px
    text-align: left
    @media (max-width: 1000px)
        width: calc(100% - 12px)

.slider_container
    height: 100%
    width: 100%
    margin: 32px 0px 16px 0px
    display: flex
    flex-direction: row
    gap: 16px
    justify-content: center
    align-items: center
    @media (max-width: 1150px)
        width: calc(100% - 12px)

.slider_button
    -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    font-size: 100px
    border-radius: 10px
    border: 0
    background: white
    display: flex
    justify-content: center
    align-items: center
    height: 100px
    &:hover
        cursor: pointer
        background-color: #adcdff

.arrow_left
    width: 28px
    height: 28px
    transform: rotate(180deg)

.arrow_right
    width: 28px
    height: 28px

.index_container
    width: 1000px
    display: flex
    flex-direction: row
    justify-content: center
    margin-bottom: 32px
    gap: 32px
    @media (max-width: 1000px)
        width: 100%

.index_item
    width: 40px
    height: 20px
    background-color: #b7b7b7
    border-radius: 10px
    @media (max-width: 700px)
        width: 15px
        height: 15px

.index_item_focused
    width: 40px
    height: 20px
    background-color: #adcdff
    border-radius: 10px
    @media (max-width: 700px)
        width: 15px
        height: 15px

.newly_added_text
    margin-top: 64px
    font-size: 28px
    width: 1000px
    text-align: left
    @media (max-width: 1000px)
        width: calc(100% - 12px)

.slider_container_newly_added
    height: 100%
    width: 100%
    margin: 32px 0px 96px 0px
    display: flex
    flex-direction: row
    gap: 16px
    justify-content: center
    align-items: center
    @media (max-width: 1150px)
        width: calc(100% - 12px)

.slider_button_newly_added
    -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1)
    font-size: 100px
    border-radius: 10px
    border: 0
    background: white
    display: flex
    justify-content: center
    align-items: center
    height: 100px
    &:hover
        cursor: pointer
        background-color: #adcdff

.container_newly_added
    width: 1000px
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    @media (max-width: 1150px)
        width: 100%
    @media (max-width: 600px)
        flex-direction: column
        gap: 12px

.overall_buttons_container
    width: 1000px
    display: flex
    flex-direction: row
    justify-content: space-between
    @media (max-width: 1000px)
        width: 100%

.overall_button
    width: calc(100% / 3)
    background-color: #f8f4f4
    border: 0
    text-align: center
    font-size: 16px
    font-weight: 500
    padding: 8px
    color: #adcdff
    &:hover
        cursor: pointer
        color: black
    @media (max-width: 700px)
        font-size: 10px
        padding: 4px

.overall_button_selected
    background-color: #adcdff
    border-radius: 10px 10px 0 0
    padding: 8px
    color: black
    width: calc(100% / 3)
    border: 0
    text-align: center
    font-size: 16px
    font-weight: 500
    &:hover
        cursor: pointer
    @media (max-width: 700px)
        font-size: 10px
        padding: 4px

.overall_container
    background-color: #adcdff
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between

.overall_tab
    margin-top: 12px
    margin-bottom: 24px
    width: 1000px
    display: grid
    grid-template-columns: repeat(2, 1fr)
    gap: 12px
    @media (max-width: 1050px)
        width: calc(100% - 12px)
        grid-template-columns: repeat(1, 1fr)

.footer
    border-top: 1px solid black
    padding-top: 24px
    width: 100%
    text-align: center
    margin-bottom: 12px
